<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1 class = "box" id = "heading">Today is a <%= kindOfDay %>!</h1>

    <div class = "box">
                <% for(var i=0;i < newListItem.length;i++){ %>

                    <div class = "item">
                        <input type="checkbox">
                        <p><%= newListItem[i] %></p>
                    </div>
                <%} %>

                <form action="/" method = "post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" >+</button>
                </form>
            
    </div>
    
</body>
</html>